* {
  margin: 0;
  box-sizing: border-box;
}

form div label {
  width: 150px;
  display: inline-block;
}

form button {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}